.body {
  margin: auto;
  background-color: white;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.header {
  padding: 10px 0px;
  background-color: rgb(245, 158, 118);
}
.header-title {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 10px;
  width: 900px;
  font-family: Verdana, sans-serif;
  color: white;
  background-color: rgb(245, 158, 118);
}
.header-menu {
  padding: 10px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  background-color: rgb(245, 158, 118);
}
.header-menu li {
  display: inline;
  padding: 0px 30px 0px 0px;
  font-family: Verdana, sans-serif;
}
.nav-link {
  text-decoration: none;
  color: white;
}
.section-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 900px;
  background-color: white;
  margin: 0 auto;
  display: flex;
}
.image {
  height: auto;
  width: 110px;
}
.contact-container {
  float: right;
  padding: 25px;
  width: 500px;
}
.contact-title {
  padding: 5px 10px;
  font-family: Verdana, sans-serif;
  color: rgb(245, 158, 118);
  width: 300px;
  border-bottom: 1px solid;
}
.address {
  margin: 0px;
  padding: 10px 30px;
  list-style: none;
}
.section-title {
  font-family: Verdana, sans-serif;
  color: rgb(245, 158, 118);
  text-align: center;
}
.section-container-paddings {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 30px;
  width: 840px;
  background-color: white;
  box-shadow: 0px 0px 20px 3px rgba(221, 221, 221, 1);
}
.footer-menu {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(245, 158, 118);
  text-align: center;
}
.footer-menu li {
  display: inline;
  padding: 0px 60px 0px 0px;
  font-family: Verdana, sans-serif;
}
.git-logo {
  width: 44px;
  height: auto;
}
.rs-logo {
  width: 64px;
  height: auto;
}
